* {
    padding: 0;
    margin: 0;
    /* outline: auto; */
    background-color: beige;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border-radius: 5%;
    border: solid chocolate 4px;
    font-size: 16px;
    font-weight: bold;
    color: darkslategray;
    transition-duration: .4s;
}

button:hover {
  transform: scale(1.1);
}

p {
    text-align: center;
}

.title {
    padding: 64px;
    text-align: center;
    font-size: 32px;
    color: chocolate;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 64px;
}